/*
 * Bootleg.css
 * https://github.com/ryanseddon/bootleg
 *
 * WTFPL - http://sam.zoy.org/wtfpl/
 */

.accordion-group {
	position: relative;
}

.accordion-toggle {
	margin: 0;
	color: #0088CC;
}
.accordion-toggle:hover,
label[for="collapseAll"]:hover + .accordion-heading .accordion-toggle {
	color: #005580;
    text-decoration: underline;
}

#collapse .accordion input ~ .collapse {
	max-height: 0;
	height: auto;

	-webkit-transition: max-height 0.2s ease 0s;
	   -moz-transition: max-height 0.2s ease 0s;
	    -ms-transition: max-height 0.2s ease 0s;
	     -o-transition: max-height 0.2s ease 0s;
	        transition: max-height 0.2s ease 0s;
}
#collapse .accordion input:checked ~ .collapse {
	max-height: 500px;

	-webkit-transition-duration: 0.7s;
	   -moz-transition-duration: 0.7s;
	    -ms-transition-duration: 0.7s;
	     -o-transition-duration: 0.7s;
	        transition-duration: 0.7s;
}
#collapse .accordion input:checked ~ .collapse > div {
	max-height: 500px;
	overflow: auto;
}
#collapse .accordion input:checked + .accordion-dismiss {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 36px;
}

#collapseAll:checked ~ .accordion-group label[for="collapseAll"],
#collapse .accordion input + label[for="collapseAll"] {
	display: none;
}
#collapse .accordion input:checked + label[for="collapseAll"] {
	display: block;
	cursor: pointer
}