/*
 * Bootleg.css
 * https://github.com/ryanseddon/bootleg
 *
 * WTFPL - http://sam.zoy.org/wtfpl/
 */

/* Based on this awesome original slider; http://csscience.com/responsiveslidercss3/ */

.slides {
	overflow: hidden;
}
.slides .carousel-inner {
	width: 500%;
}

.carousel .item {
	display: block;
	width: 20%;
	float: left;
}

#controls label,
#controls label span {
 	display: none;
}
#controls label {
    cursor: pointer;
}

#slide1:checked ~ .slides .carousel-inner {
    margin-left: 0;
}
#slide2:checked ~ .slides .carousel-inner {
    margin-left: -100%;
}
#slide3:checked ~ .slides .carousel-inner {
    margin-left: -200%;
}
#slide4:checked ~ .slides .carousel-inner {
    margin-left: -300%;
}
#slide5:checked ~ .slides .carousel-inner {
    margin-left: -400%;
}

.slides .carousel-inner {
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
       -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        -ms-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
         -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
            transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
    left: auto;
    right: 15px;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1),

#slide1:checked ~ #controls label:nth-child(5), 
#slide2:checked ~ #controls label:nth-child(1), 
#slide3:checked ~ #controls label:nth-child(2), 
#slide4:checked ~ #controls label:nth-child(3), 
#slide5:checked ~ #controls label:nth-child(4),

#slide1:checked ~ #controls label:nth-child(2) span:last-child, 
#slide2:checked ~ #controls label:nth-child(3) span:last-child, 
#slide3:checked ~ #controls label:nth-child(4) span:last-child, 
#slide4:checked ~ #controls label:nth-child(5) span:last-child, 
#slide5:checked ~ #controls label:nth-child(1) span:last-child,

#slide1:checked ~ #controls label:nth-child(5) span:first-child, 
#slide2:checked ~ #controls label:nth-child(1) span:first-child, 
#slide3:checked ~ #controls label:nth-child(2) span:first-child, 
#slide4:checked ~ #controls label:nth-child(3) span:first-child, 
#slide5:checked ~ #controls label:nth-child(4) span:first-child {
    display: block;
}