/*
 * Bootleg.css
 * https://github.com/ryanseddon/bootleg
 *
 * WTFPL - http://sam.zoy.org/wtfpl/
 */

/* Cruft styles to make it look the same as the anchor exmaple */

.navbar .nav > li > label {
	line-height: 19px;
	padding: 9px 10px 11px;
	margin: 0;
	text-shadow: 0 1px 0 white;
	cursor: pointer;
}
.navbar .nav > li > label:hover {
	color: #333;
}
.nav-pills > li > label:hover {
	background: #eee;
	color: #005580;
}
.nav-pills > li > label {
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
	color: #0088CC;
	cursor: pointer;
}
.nav-tabs > li > label, .nav-pills > li > label {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Actual :checked specific styles */

#dropdowns input[type="radio"]:checked + label {
	color: #555;
	background-color: #E5E5E5;
}

#dropdowns .nav-pills input[type="radio"]:checked + label {
	color: white;
	background-color: #999;
}
#dropdowns .nav-pills input[type="radio"]:checked + label .caret {
	border-top-color: white;
	border-bottom-color: white;
}

#dropdowns input[type="radio"] ~ .dismiss-dropdowns {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	padding: 0 !important;
	background: transparent !important;
	line-height: 0;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
}

#dropdowns input[type="radio"]:checked ~ .dropdown-menu,
#dropdowns input[type="radio"]:checked ~ .dismiss-dropdowns {
	display: block;
}